<div *ngIf="item && categories && brands">
  <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
    <h3>{{title}}</h3>

    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" placeholder="Name" required maxlength="50"
             [(ngModel)]="item.name"
             ngControl="name" #name="ngForm">
    </div>
    <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
      Name is required
    </div>


    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" placeholder="Description" maxlength="250"
                [(ngModel)]="item.description"
                ngControl="description" #description="ngForm">
        </textarea>
    </div>


    <div class="form-group">
      <label for="markedPrice">Marked Price</label>
      <input class="form-control" id="markedPrice" placeholder="Marked Price" required min="0.1"
             [(ngModel)]="item.markedPrice"
             ngControl="markedPrice" #markedPrice="ngForm">
    </div>
    <div [hidden]="markedPrice.valid || markedPrice.untouched" class="alert alert-danger">
      Marked Price is required
    </div>

    <div class="form-group">
      <label>Category</label>
      <select ngControl="category" [ngModel]="item.category?.id" (ngModelChange)="changeCategory($event)">
        <option></option>
        <option *ngFor="#c of categories" [value]="c.id">
          {{c.shortName}} -- {{c.name}}
        </option>
      </select>
    </div>


    <div class="form-group">
      <label>Brand</label>
      <select ngControl="brand" [ngModel]="item.brand?.id" (ngModelChange)="changeBrand($event)">
        <option></option>
        <option *ngFor="#b of brands" [value]="b.id">
          {{b.name}}
        </option>
      </select>
    </div>


    <div class="form-group">
      <label for="remarks">Remarks</label>
      <textarea class="form-control" id="remarks" placeholder="Remarks" maxlength="250"
                [(ngModel)]="item.remarks"
                ngControl="remarks" #remarks="ngForm">
        </textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary"
              [disabled]="!itemForm.form.valid">
        Submit
      </button>
      <button type="reset" class="btn btn-danger"
              [routerLink]="['ItemList']">
        Cancel
      </button>
    </div>
  </form>
</div>

